/*Created for Automated_crane.html to use with Run DMC */
 
body {
	background-color: rgb(0, 0, 0)
}
div {
	font-family: Arial;
	font-weight: bold;
	font-size: 14.0pt;
	text-align: center;
}
table.center {
	margin-right: auto;
	margin-left: auto;
}
H2 {
	font-family: Arial;
	font-weight: bold;
	font-size: 14.0pt;
	color: #FFFFFF; 
	margin-top:0px; 
	margin-bottom:10px;

}
P {
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF; 
	font-size: 12.0pt;
	margin-top:0px; 
	margin-bottom:0px;
}
TD.Text {
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF; 
	font-size: 12.0pt;
	margin-top:0px; 
	margin-bottom:0px;
}
a {
	color: #FFFFFF;
}
